In [ ]:
# https://codeshare.io/8XjO7v

In [58]:
import warnings
warnings.filterwarnings('ignore')

# Tokenizer

In [8]:
sentences = [
    "Me gusta la tortilla de patatas",
    "La tortilla de champiñones es mucho más jugosa"
]

In [10]:
# sentences[0].split()

In [12]:
from tensorflow.keras.preprocessing.text import Tokenizer

tokenizer = Tokenizer()
tokenizer.fit_on_texts(sentences)

In [14]:
""" diccionario """

tokenizer.index_word
tokenizer.word_index

{'la': 1,
 'tortilla': 2,
 'de': 3,
 'me': 4,
 'gusta': 5,
 'patatas': 6,
 'champiñones': 7,
 'es': 8,
 'mucho': 9,
 'más': 10,
 'jugosa': 11}

In [15]:
tokenizer.texts_to_sequences(sentences)

[[4, 5, 1, 2, 3, 6], [1, 2, 3, 7, 8, 9, 10, 11]]

In [24]:
""" vocabulario """

tam_vocab = 100

tokenizer = Tokenizer(num_words=tam_vocab, oov_token='<OOV>')
tokenizer.fit_on_texts(sentences)
tokkenized_texts = tokenizer.texts_to_sequences(sentences)
tokkenized_texts

[[5, 6, 2, 3, 4, 7], [2, 3, 4, 8, 9, 10, 11, 12]]

In [23]:
tokenizer.word_index

{'<OOV>': 1,
 'la': 2,
 'tortilla': 3,
 'de': 4,
 'me': 5,
 'gusta': 6,
 'patatas': 7,
 'champiñones': 8,
 'es': 9,
 'mucho': 10,
 'más': 11,
 'jugosa': 12}

# Padding

In [26]:
sentences
tokkenized_texts

[[5, 6, 2, 3, 4, 7], [2, 3, 4, 8, 9, 10, 11, 12]]

In [27]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

pad_sequences(tokkenized_texts)

array([[ 0,  0,  5,  6,  2,  3,  4,  7],
       [ 2,  3,  4,  8,  9, 10, 11, 12]])

In [37]:
pad_sequences(tokkenized_texts, maxlen=5)
pad_sequences(tokkenized_texts, maxlen=5, truncating='pre')
pad_sequences(tokkenized_texts, maxlen=5, truncating='post')
pad_sequences(tokkenized_texts, truncating='post')
pad_sequences(tokkenized_texts, padding='post')

padded_sequences = pad_sequences(tokkenized_texts, padding='pre')
padded_sequences

array([[ 0,  0,  5,  6,  2,  3,  4,  7],
       [ 2,  3,  4,  8,  9, 10, 11, 12]])

# Stemming

In [38]:
from nltk.stem import SnowballStemmer

stemmer = SnowballStemmer('spanish')

In [42]:
for word in sentences[0].split():
    print(stemmer.stem(word))

me
gust
la
tortill
de
patat

# Lemmatization

In [43]:
import spacy

nlp = spacy.load('es_core_news_sm')

In [48]:
doc = nlp(sentences[0])

doc.__class__

spacy.tokens.doc.Doc

In [50]:
for word in doc:
    print(word.lemma_)

yo
gustar
el
tortilla
de
patata

# Stopwords

In [52]:
stopwords_list = nlp.Defaults.stop_words

print(stopwords_list)

{'dan', 'quién', 'fue', 'mia', 'en', 'os', 'e', 'tuvo', 'debajo', 'añadió', 'largo', 'con', 'ellas', 'manera', 'sea', 'vosotras', 'hecho', 'informo', 'existen', 'dar', 'excepto', 'adelante', 'ésta', 'un', 'mas', 'que', 'una', 'ningún', 'propio', 'buen', 'podriamos', 'podrian', 'puede', 'hubo', 'dado', 'usas', 'aquél', 'supuesto', 'tu', 'mediante', 'dia', 'nunca', 'hacen', 'uno', 'está', 'otro', 'dias', 'pudo', 'afirmó', 'cuántas', 'podrá', 'tener', 'tal', 'existe', 'era', 'si', 'sean', 'te', 'señaló', 'y', 'cierta', 'consiguen', 'porque', 'dicen', 'hacerlo', 'despues', 'últimos', 'propias', 'propia', 'acuerdo', 'hasta', 'vosotros', 'ésas', 'algo', 'dieron', 'habrá', 'saber', 'cuántos', 'tercero', 'primera', 'quizá', 'medio', 'antes', 'debe', 'poner', 'hicieron', 'tanto', 'hemos', 'tenía', 'hace', 'ellos', 'yo', 'ir', 'demasiado', 'trata', 'solos', 'sola', 'quiza', 'diez', 'debido', 'suyos', 'explicó', 'despacio', 'grandes', 'ninguno', 'cuanta', 'delante', 'estais', 'esto', 'hacemos', 'cuánta', 'ése', 'unos', 'aquella', 'muchas', 'asi', 'había', 'les', 'quienes', 'verdadera', 'tendrán', 'cuánto', 'pasado', 'sigue', 'otros', 'pesar', 'eres', 'aproximadamente', 'ante', 'no', 'partir', 'sera', 'pasada', 'cuales', 'dijo', 'cinco', 'consigues', 'eramos', 'pocas', 'tuyo', 'vais', 'bien', 'tuyos', 'nuevos', 'el', 'entre', 'siempre', 'primero', 'mios', 'toda', 'lo', 'entonces', 'once', 'nuestros', 'proximo', 'voy', 'cuantas', 'conocer', 'nos', 'realizado', 'sabes', 'aquel', 'cualquier', 'salvo', 'todas', 'tenga', 'contra', 'segundo', 'embargo', 'conmigo', 'estar', 'además', 'dio', 'ese', 'aqui', 'mismos', 'alguna', 'repente', 'sí', 'saben', 'ser', 'los', 'temprano', 'mias', 'algún', 'esos', 'verdadero', 'después', 'enseguida', 'aún', 'poco', 'bueno', 'cómo', 'habían', 'alrededor', 'mía', 'estoy', 'serán', 'nada', 'solamente', 'cuenta', 'tenemos', 'todos', 'al', 'he', 'muchos', 'nuevo', 'estan', 'sobre', 'tú', 'encuentra', 'dice', 'dejó', 'apenas', 'soy', 'teneis', 'sido', 'ninguna', 'alguno', 'nueve', 'primeros', 'ahora', 'seis', 'haceis', 'llevar', 'mio', 'estos', 'vuestras', 'mi', 'míos', 'éste', 'ni', 'tambien', 'ella', 'sin', 'aquello', 'fuera', 'usais', 'pueda', 'cuáles', 'estamos', 'vuestro', 'lleva', 'hay', 'nadie', 'menos', 'da', 'algunas', 'me', 'propios', 'diferentes', 'somos', 'dónde', 'ello', 'final', 'eran', 'doce', 'mal', 'están', 'demás', 'fin', 'uso', 'la', 'estaban', 'sólo', 'buenos', 'otras', 'pronto', 'tuya', 'sabeis', 'las', 'deben', 'ningunas', 'todavía', 'haya', 'podemos', 'quizas', 'solo', 'través', 'estará', 'peor', 'qué', 'ahi', 'poder', 'conseguimos', 'él', 'va', 'hizo', 'parte', 'ocho', 'hago', 'aseguró', 'sois', 'tuyas', 'claro', 'dijeron', 'tres', 'del', 'menudo', 'esas', 'solas', 'detrás', 'posible', 'también', 'por', 'detras', 'aunque', 'creo', 'mucho', 'ya', 'mayor', 'podrias', 'ultimo', 'consigo', 'informó', 'su', 'cuando', 'mías', 'cuándo', 'ademas', 'consideró', 'verdad', 'siete', 'suyas', 'tampoco', 'u', 'hablan', 'ciertos', 'mejor', 'misma', 'para', 'habia', 'éstas', 'usar', 'sé', 'ningunos', 'llegó', 'tendrá', 'casi', 'cuatro', 'mucha', 'tan', 'aquéllos', 'agregó', 'mismo', 'luego', 'ambos', 'dentro', 'modo', 'mismas', 'usamos', 'podrían', 'tras', 'suyo', 'próximo', 'qeu', 'tienen', 'hoy', 'veces', 'haber', 'estaba', 'igual', 'suya', 'podriais', 'dicho', 'fueron', 'van', 'han', 'días', 'muy', 'tengo', 'pues', 'tus', 'hacia', 'podria', 'varios', 'a', 'buenas', 'unas', 'sino', 'aquellos', 'éstos', 'donde', 'varias', 'primer', 'usted', 'sería', 'última', 'conseguir', 'total', 'alli', 'vamos', 'desde', 'respecto', 'quiere', 'nosotras', 'le', 'este', 'paìs', 'estuvo', 'tiene', 'eras', 'cuanto', 'consigue', 'dos', 'será', 'haces', 'puedo', 'quien', 'poca', 'cierto', 'realizó', 'aquéllas', 'anterior', 'junto', 'haciendo', 'nuestro', 'vez', 'eso', 'son', 'aquí', 'tarde', 'podrán', 'contigo', 'estas', 'ha', 'nosotros', 'otra', 'ciertas', 'aquellas', 'más', 'allí', 'nuestra', 'cada', 'breve', 'nuevas', 'ver', 'ésa', 'es', 'diferente', 'quedó', 'estados', 'realizar', 'habla', 'aun', 'mientras', 'hacer', 'nuestras', 'podeis', 'bajo', 'algunos', 'según', 'usa', 'deprisa', 'mí', 'todo', 'así', 'de', 'vuestros', 'segunda', 'sabe', 'vuestra', 'tenido', 'queremos', 'siendo', 'incluso', 'atras', 'decir', 'buena', 'siguiente', 'mis', 'enfrente', 'esa', 'lado', 'quiénes', 'cuantos', 'durante', 'ahí', 'día', 'indicó', 'esta', 'parece', 'todavia', 'arriba', 'o', 'pueden', 'sus', 'aquélla', 'usan', 'ustedes', 'grande', 'cuál', 'comentó', 'tercera', 'pero', 'último', 'nueva', 'fui', 'vaya', 'mencionó', 'próximos', 'quizás', 'ti', 'como', 'sabemos', 'considera', 'pocos', 'encima', 'se', 'mío', 'gran', 'manifestó', 'últimas', 'fuimos', 'podría', 'estado', 'segun', 'bastante', 'cual', 'ésos', 'expresó'}

# Ejemplo de clasificación de textos

## Dataset de Amazon

In [53]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/eduardofc/data/main/amazon_home.csv")
df.head()

   stars  ... product_category
0      1  ...             home
1      1  ...             home
2      1  ...             home
3      1  ...             home
4      1  ...             home

[5 rows x 4 columns]

In [54]:
df.groupby('stars').size()

stars
1    5391
2    5542
3    5477
4    5309
5    5243
dtype: int64

In [55]:
df = df[(df.stars == 1) | (df.stars == 5)]
df.groupby('stars').size()

stars
1    5391
5    5243
dtype: int64

In [59]:
df['good_product'] = df.stars.apply(lambda x: 1 if x==5 else 0)
df.groupby('good_product').size()

good_product
0    5391
1    5243
dtype: int64

In [61]:
df = df[['review_body', 'good_product']]

In [63]:
df.head()

                                         review_body  good_product
0  Jamás me llegó y el vendedor nunca contacto co...             0
1  Pone que son 4 piezas y la realidad es que es ...             0
2  Saltan los plomos al tercer día de uso. A devo...             0
3  No me ha gustado de hecho la devolví . Súper p...             0
4  Por más que busque, no le encuentro el agujero...             0

## Remove stopwords

In [67]:
from nltk.tokenize import word_tokenize

def remove_stopwords(txt):
    tokens = word_tokenize(txt)
    filtered_tokens = [ww for ww in tokens if ww.lower() not in stopwords_list]
    return ' '.join(filtered_tokens)
    
txt = 'Jamás me llegó y el vendedor nunca contacto co...'
remove_stopwords(txt)

'Jamás vendedor contacto co ...'

## Lemmatizing

In [72]:
def lemmatize(txt):
    doc = nlp(txt)
    lemmas = [ww.lemma_ for ww in doc]
    return ' '.join(lemmas)

txt = 'Jamás me llegó y el vendedor nunca contacto co...'
lemmatize(txt)

'jamás yo llegar y el vendedor nunca contactar co ...'

## Final preprocess

In [74]:
df['text'] = df['review_body'].map(remove_stopwords)
df['text'] = df['text'].map(lemmatize)

In [75]:
df.head()

                                         review_body  ...                                               text
0  Jamás me llegó y el vendedor nunca contacto co...  ...              jamás vendedor contacto intentar él 2
1  Pone que son 4 piezas y la realidad es que es ...  ...                     poner 4 pieza realidad 3 pieza
2  Saltan los plomos al tercer día de uso. A devo...  ...                    saltar plomos tercer . devolver
3  No me ha gustado de hecho la devolví . Súper p...  ...             gustado devolví . súper pesado manejar
4  Por más que busque, no le encuentro el agujero...  ...  buscar , encuentro agujero meter chuch . instr...

[5 rows x 3 columns]

## Clasificador de textos

In [78]:
sentences_bad_products = df[df.good_product==0]['text'].to_list()

tam_vocab = 30

tokenizer_bad = Tokenizer(num_words=tam_vocab)
tokenizer_bad.fit_on_texts(sentences_bad_products)

In [80]:
# tokenizer_bad.index_word

In [85]:
all_texts = df['text'].to_list()
# print(len(all_texts))

tokenized_bad = tokenizer_bad.texts_to_sequences(all_texts)

In [88]:
# tokenized_bad[:5]

In [86]:
data = []
for tokens in tokenized_bad:
    row = [1 if i in tokens else 0 for i in range(1, tam_vocab+1)]
    data.append(row)
column_names = [f"b{i}" for i in range(1, tam_vocab+1)]
df_bad = pd.DataFrame(data, columns=column_names)
print(len(df_bad))
df_bad.head()

10634

   b1  b2  b3  b4  b5  b6  b7  b8  b9  b10  b11  ...  b20  b21  b22  b23  b24  b25  b26  b27  b28  b29  b30
0   1   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    1    0    0    0    0    0    0    0
1   0   0   0   0   0   0   0   0   0    0    0  ...    1    0    0    0    0    0    0    0    0    0    0
2   0   0   0   0   0   0   0   0   0    0    1  ...    0    0    0    0    0    0    0    0    0    0    0
3   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0
4   0   0   0   0   0   0   0   0   0    1    0  ...    0    0    0    0    0    0    0    0    0    0    0

[5 rows x 30 columns]

In [89]:
sentences_good_products = df[df.good_product==1]['text'].to_list()

tam_vocab = 30

tokenizer_good = Tokenizer(num_words=tam_vocab)
tokenizer_good.fit_on_texts(sentences_good_products)

In [90]:
all_texts = df['text'].to_list()

tokenized_good = tokenizer_good.texts_to_sequences(all_texts)

In [93]:
# tokenizer_good.index_word

In [94]:
data = []
for tokens in tokenized_good:
    row = [1 if i in tokens else 0 for i in range(1, tam_vocab+1)]
    data.append(row)
column_names = [f"g{i}" for i in range(1, tam_vocab+1)]
df_good = pd.DataFrame(data, columns=column_names)
print(len(df_good))
df_good.head()

10634

   g1  g2  g3  g4  g5  g6  g7  g8  g9  g10  g11  ...  g20  g21  g22  g23  g24  g25  g26  g27  g28  g29  g30
0   0   0   0   1   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0
1   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0
2   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0
3   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0
4   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0    0

[5 rows x 30 columns]

In [100]:
df_final = pd.merge(df_bad, df_good, left_index=True, right_index=True, how='inner')
df_final['y'] = df.reset_index().good_product

In [101]:
df_final.tail()

       b1  b2  b3  b4  b5  b6  b7  b8  b9  b10  b11  ...  g21  g22  g23  g24  g25  g26  g27  g28  g29  g30  y
10629   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0  1
10630   0   0   0   0   0   0   0   0   0    1    0  ...    0    0    0    0    0    0    0    0    0    0  1
10631   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0  1
10632   0   0   1   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0  1
10633   0   0   0   0   0   0   0   0   0    0    0  ...    0    0    0    0    0    0    0    0    0    0  1

[5 rows x 61 columns]

In [102]:
from sklearn.tree import DecisionTreeClassifier

X = df_final.drop(columns='y')
y = df_final.y

model = DecisionTreeClassifier(random_state=99)
model.fit(X, y)
model.score(X, y)

0.8317660334775249

# TF-IDF

In [104]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/eduardofc/data/main/amazon_home.csv")
df['review_body'] = df['review_body'].str.replace("[^a-zA-ZñÑáéíóú .,:;]", "",regex=True)
df.head()

   stars  ... product_category
0      1  ...             home
1      1  ...             home
2      1  ...             home
3      1  ...             home
4      1  ...             home

[5 rows x 4 columns]

In [105]:
df.shape

(26962, 4)

In [109]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()

reviews = df['review_body'].values
tfidf_matrix = vectorizer.fit_transform(reviews)

In [110]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [111]:
vectorizer.get_feature_names_out()

array(['aa', 'aaa', 'abajo', ..., 'útil', 'útiles', 'útlimo'],
      dtype=object)

In [112]:
tfidf_matrix.shape

(26962, 21821)

In [113]:
pd.set_option('display.max_colwidth', 100)

df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())
df_tfidf.head()

    aa  aaa  abajo  abalorios  abandonan  abandonando  ...  únicas  único  únicos  útil  útiles  útlimo
0  0.0  0.0    0.0        0.0        0.0          0.0  ...     0.0    0.0     0.0   0.0     0.0     0.0
1  0.0  0.0    0.0        0.0        0.0          0.0  ...     0.0    0.0     0.0   0.0     0.0     0.0
2  0.0  0.0    0.0        0.0        0.0          0.0  ...     0.0    0.0     0.0   0.0     0.0     0.0
3  0.0  0.0    0.0        0.0        0.0          0.0  ...     0.0    0.0     0.0   0.0     0.0     0.0
4  0.0  0.0    0.0        0.0        0.0          0.0  ...     0.0    0.0     0.0   0.0     0.0     0.0

[5 rows x 21821 columns]

In [114]:
df_tfidf.sum()

aa            3.381659
aaa           1.973611
abajo        30.850947
abalorios     1.129062
abandonan     0.418385
               ...
único        79.190101
únicos        0.939524
útil         75.545876
útiles       19.482703
útlimo        0.140574
Length: 21821, dtype: float64

In [115]:
df_tfidf2 = pd.DataFrame(df_tfidf.sum().reset_index())
df_tfidf2.columns = ['word', 'value']

In [117]:
df_tfidf2.sort_values('value', ascending=False).head()

      word        value
5627    de  1484.840507
16843  que  1424.006849
11845   la  1365.794298
14023   no  1320.382281
7418    el  1259.256078

In [121]:
vectorizer = TfidfVectorizer(stop_words=list(stopwords_list))
tfidf_matrix = vectorizer.fit_transform(reviews)
df_tfidf = pd.DataFrame(tfidf_matrix.toarray(), columns=vectorizer.get_feature_names_out())

In [122]:
df_tfidf2 = pd.DataFrame(df_tfidf.sum().reset_index())
df_tfidf2.columns = ['word', 'value']
df_tfidf2.sort_values('value', ascending=False).head()

           word       value
3001    calidad  727.601506
15814    precio  562.274190
16111  producto  522.994718
8391   esperaba  326.412765
12312       luz  310.559344

# Ejercicio no-supervisado (topic modeling)

In [123]:
from sklearn.cluster import KMeans

k=5
kmeans = KMeans(n_clusters=k, random_state=99)

In [124]:
X = vectorizer.fit_transform(reviews)

In [128]:
kmeans.fit(X)
labels = kmeans.labels_

In [131]:
df_kmeans = pd.DataFrame(list(zip(reviews, labels)))
df_kmeans.columns = ['review', 'cluster']
df_kmeans.head()

                                                                                                review  cluster
0                     Jamás me llegó y el vendedor nunca contacto conmigo a pesar de intentarlo  veces        4
1                                              Pone que son  piezas y la realidad es que es de  piezas        4
2                                                   Saltan los plomos al tercer día de uso. A devolver        4
3                                     No me ha gustado de hecho la devolví . Súper pesada para manejar        2
4  Por más que busque, no le encuentro el agujero para meter las chuches. En las instrucciones dice...        4

In [133]:
df_kmeans.groupby('cluster').size()

cluster
0     2128
1      868
2      597
3     1269
4    22100
dtype: int64

In [136]:
df_kmeans[df_kmeans.cluster==3]

                                                                                                    review  cluster
45     La carga no dura nada . Es difícil de programar. La Luz está bien. Y el sonido pasable. El despe...        3
114    No tiene color blanco. En estado normalsin colores es amarilla. Y aunque le de al botón de w , q...        3
164    Han llegado sólo los puntos sin las estrellas y desde la Atención de cliente no me contestan. Ad...        3
175    Se han equivocado y me han enviado bombillas de luz normal en lugar de luz negra, y no era un pe...        3
261       La lampara ha funcionado una semana y ya no funciona , se enciende la luz azul pero el LED NO va        3
...                                                                                                    ...      ...
26871  Igual que en la foto, tamaño perfecto, super bien hecha al estilo Vintage. La he puesto en la co...        3
26884  Me encanta esta lámpara. Qué bonita y perfecta para la terraza y para donde sea dentro de la cas...        3
26903  Dan más luz que las originales, también son de menos consumo, ahora falta ver lo que duran La tr...        3
26914                               Muy bonito tapiz, lo recomiendo para espacios alegres y llenos de luz.        3
26936  Da una luz muy buena la tengo en el patio ya que no tenía luz y me interesaba poner algo que no ...        3

[1269 rows x 2 columns]